img {
	height: 200px;
}

input {
	margin-bottom: 10px;
}

person {
	display: block;
	width: 30%;
	float: left;
	margin-right: 1%;
	margin-bottom: 1%;
	min-height: 450px;
	padding: 5px;
	text-align: center;
}

/*For every even numbered element, have a light yellow background.*/
person:nth-child(even) {  
  background-color: lightyellow;
}

/*For every odd numbered element, have a light blue background.*/
person:nth-child(odd) {  
  background-color: lightblue;
}

.bioInput {
	padding: 5px;
	text-align: center;
}

label {
	margin-left: -30px;
}

.selected {
	border: 2px dotted royalblue;
	margin-right: 0.5%;
	margin-bottom: 0.5%;
}